* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.wrapper {
    /* TODO: later make so u can choose width with height without changing something in component */
    height: 100%;
    width: 150px;
    margin: 100px 0 0 200px;
    overflow: visible;
    border: 1px solid black;
}
.list {
    width: 100%;
    white-space: nowrap;
}
.item{
    list-style-type: none;
    display: inline-block;
}